.event-card {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--primary-color-light);
}

.event-details p {
  margin: 3px;
}

.event-details h3 {
  margin: 0 0 10px;
}
